<mat-form-field appearance="fill">
    <mat-label>{{label}}</mat-label>
    <mat-select [formControl]="control" [multiple]= "multiple">
      <mat-select-trigger *ngIf="ControlValue">
        {{ControlValue[0] || ''}}
        <span *ngIf="(ControlValue?.length || 0) > 1">
          (+{{(ControlValue.length || 0) - 1}} {{ControlValue.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-select>
</mat-form-field>
