<span fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" class="stats-container">
    <mat-chip color="accent">2 appointments waiting confirmation</mat-chip>
    <div fxLayout="raw" fxLayoutAlign="space-between center" fxLayoutGap="5">
        <button mat-stroked-button color="primary" class="appointement-button">
            <mat-icon>calendar_month</mat-icon>
            New appointement
        </button>
        <app-inquiries-stat-card title='Quaoted Rate: 83%' status="Good"></app-inquiries-stat-card>
        <app-inquiries-stat-card title='Average Response Time: 94 hours' status="Good"></app-inquiries-stat-card>
    </div>
</span>