<span>
    <mat-card *ngIf="contacts$ | async as obj" class="card-container">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Notifications</mat-card-title>
                <button mat-flat-button color="primary" (click)="add()">Add</button>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <div role="list">
                <span *ngFor="let contact of obj">
                    <span class="item-container full-width">
                        <span>{{contact.name}}</span>
                        <span>{{contact.email}}</span>
                        <span>
                            <button mat-icon-button color="primary" (click)="edit(contact)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="remove(contact)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </span>
                    <mat-divider></mat-divider>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</span>