<div class="container">
  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-icon class="small-icon" matPrefix>search</mat-icon>
      <input matInput type="text" [formControl]="SearchControl" />
    </mat-form-field>
    <button mat-stroked-button color="primary">
      <mat-icon>filter_alt</mat-icon>
      <span *ngIf="showLabel$ | async">Filter</span>
    </button>
    <button mat-stroked-button color="primary">
      <mat-icon>add</mat-icon>
      <span *ngIf="showLabel$ | async">Add Appointment</span>
    </button>
  </div>
  <div class="cards-container">
    <mat-card class="card" *ngFor="let inquiry of inquiries$ | async">
      <mat-card-header>
        <mat-card-title>{{ inquiry.MedicalProcedure }}</mat-card-title>
        <mat-card-subtitle>
            {{ inquiry.PatientName }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content flex-column">
        <span class="flex-row">
            <span class="flex-column">
                <span class="label">Case Manager:</span>
                <span>{{ inquiry.CaseManagerName }}</span>
            </span>
            <span class="flex-column">
                <span class="label">Coordinator:</span>
                <span>{{ inquiry.CoordinatorName }}</span>
            </span>
        </span>
        <span
        class="status"
        [ngClass]="{
          'grey-bg': inquiry.Status === status.New,
          'warn-bg':
            inquiry.Status === status.InProgress ||
            inquiry.Status === status.Pending,
          'success-bg': inquiry.Status === status.Closed,
          'danger-bg': inquiry.Status === status.Rejected
        }"
        >{{ inquiry.Status }}</span
      >
        <span class="flex-row">
            <span class="flex-column">
                <span class="label">Awnser date:</span>
                <span>{{ inquiry.AnswerDate | date}}</span>
            </span>
            <span class="flex-column">
                <span class="label">ReceptionDate date:</span>
                <span>{{ inquiry.ReceptionDate | date}}</span>
            </span>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
