<div class="dialog-container">
    <h1 mat-dialog-title>Add Hotel</h1>
    <div mat-dialog-content [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter full name" [formControl]="nameControl">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Rating</mat-label>
            <input matInput type="number" placeholder="Enter rating" [formControl]="ratingControl">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Simple Room</mat-label>
            <input matInput type="number" placeholder="Enter number of simple room" [formControl]="simpleRoomControl">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Double Room</mat-label>
            <input matInput type="number" placeholder="Enter number of double room" [formControl]="doubleRoomControl">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Enter location" [formControl]="locationControl">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Url</mat-label>
            <input matInput placeholder="Enter url" [formControl]="urlControl">
        </mat-form-field>
    </div>
    <mat-dialog-actions>
        <button mat-flat-button color="primary" class="full-width" (click)="onSubmit()">Save</button>
    </mat-dialog-actions>
</div>