<span *ngIf="!authService.isAuthenticated();else main">
  <div class="full-height login-container">
    <router-outlet></router-outlet>
  </div>
</span>
<ng-template #main>
  <app-header (toogleSideNav)="toogleSideNav()"></app-header>
  <mat-sidenav-container class="drawer-container" autosize>
    <mat-sidenav class="sidenav" [opened]="isSideNavOpened" mode="side">
      <app-sidenav-drawer></app-sidenav-drawer>
    </mat-sidenav>
    <div class="full-height">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</ng-template>