.drawer-container {
    width: 100%;
    height: calc(100% - 48px);
  }
  
  .sidenav {
    padding: 8px 8px 0 8px;
  }
  
  .settings-sidenav {
    width: 3%;
  }
  
  .lg-settings-sidenav {
    width: 2%;
  }
  
  .large-settings-sidenav {
    width: 15%;
  }
  