/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.spacer {
  flex: 1 1 100%;
}

.warn-bg {
  background-color: rgba(255, 235, 59, 0.38);
  color: #c6a700;
  padding: 10px; /* Adds padding around text */
  border: 1px solid #ffeb3b; /* Light yellow border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centers text */
  text-transform: capitalize;
}

.critical-bg {
  background-color: rgba(255, 0, 0, 0.38);
  color: #b00000;
  padding: 10px;
  border: 1px solid #f44336; /* Light red border */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

.success-bg {
  background-color: rgba(76, 175, 80, 0.38);
  color: #388e3c;
  padding: 10px;
  border: 1px solid #4caf50; /* Light green border */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

.grey-bg {
  background-color: rgba(158, 158, 158, 0.38);
  color: #424242;
  padding: 10px;
  border: 1px solid #9e9e9e; /* Light grey border */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/* Color for InfRqsted status */
.infRqsted-bg {
  background-color: rgba(189, 189, 189, 0.38); /* Light grey */
  color: #616161;
  padding: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/* Color for Awaiting status */
.awaiting-bg {
  background-color: rgba(255, 152, 0, 0.38); /* Deep orange */
  color: #ff6f00;
  padding: 10px;
  border: 1px solid #ff9800;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/* Color for Quoted status */
.quoted-bg {
  background-color: rgba(33, 150, 243, 0.38); /* Bright blue */
  color: #1976d2;
  padding: 10px;
  border: 1px solid #2196f3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/* Color for Confirmed status */
.confirmed-bg {
  background-color: rgba(76, 175, 80, 0.38); /* Green */
  color: #388e3c;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/* Color for Answered status */
.answered-bg {
  background-color: rgba(0, 188, 212, 0.38); /* Teal */
  color: #00acc1;
  padding: 10px;
  border: 1px solid #00bcd4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/* Color for AnsweredAndRelaunched status */
.answeredAndRelaunched-bg {
  background-color: rgba(255, 87, 34, 0.38); /* Deep orange-red */
  color: #d32f2f;
  padding: 10px;
  border: 1px solid #f44336;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/* Color for Cancelled status */
.cancelled-bg {
  background-color: rgba(211, 47, 47, 0.38); /* Dark red */
  color: #c62828;
  padding: 10px;
  border: 1px solid #e53935;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/* Color for Notavailable status */
.notavailable-bg {
  background-color: rgba(158, 158, 158, 0.38); /* Light grey */
  color: #616161;
  padding: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}


.flex-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
