<mat-dialog-content *ngIf="{
    inPrg: appointmentsInProgress$ | async,
    passed: appointmentsPassed$ | async
  } as obj">
    <mat-tab-group>
        <mat-tab label="Upcoming">
            <span class="empty-appointment" *ngIf="obj.inPrg?.length === 0; else showInPrgData">No upcoming Appointments</span>
            <ng-template #showInPrgData>
                <app-appointement *ngFor="let appointment of obj.inPrg" [appointement]="appointment"
                    [upComing]="true"></app-appointement>
            </ng-template>
        </mat-tab>
        <mat-tab label="Passed">
            <span class="empty-appointment" *ngIf="obj.passed?.length === 0; else showPassedData">No Passed Appointments</span>
            <ng-template #showPassedData>
                <app-appointement *ngFor="let appointment of obj.passed" [appointement]="appointment"
                    [upComing]="false"></app-appointement>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>